---
import GitHub from "../icons/GitHub.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  {
    title: "Sudamericana Rugs",
    description:
      "Página web estática para un emprendimiento. Se integró un formulario de contacto para gestionar consultas de clientes, mejorando la comunicación y las oportunidades de negocio.",
    img: "/proyects/sud.webp",
    tags: ["Vue.js", "CSS", "JavaScript"],
    link: "https://www.sudamericanarugs.com/",
  },
  {
    title: "Sistema de gestión",
    description:
      "Aplicación web para la gestión de pedidos, envios, clientes y productos para una empresa. Realicé componentes en Vue.js para listar, modificar, crear y eliminar elementos de la base de datos. También la autentificación de los usuarios. Se realizó el despliegue en un VPS.",
    img: "/proyects/pl.webp",
    tags: [
      "Vue.js",
      "CSS",
      "JavaScript",
      "Node.js",
      "Express",
      "MongoDB",
      "VPS",
    ],
  },
  {
    title: "CV Web",
    description:
      "Página web estática de mi cv imprimible. Hecha con Astro Build. Contiene una paleta de comandos para funcionalidades.",
    img: "/proyects/cv.webp",
    github: "https://github.com/joa1907/minimalist-portfolio",
    tags: ["Astro", "CSS", "JavaScript"],
    link: "https://joaquin-cardoso-cv.onrender.com/",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ img, title, tags, description, github, link }) => (
      <article class="flex flex-col space-y-6 group md:flex-row md:space-x-6 md:space-y-0">
        <aside class="w-full md:w-1/2">
          <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8
            transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl
            sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
          >
            <img
              alt="img-proyect"
              class="transition duration-[550ms] md:scale-100 md:group-hover:scale-105"
              loading="lazy"
              src={img}
            />
          </div>
        </aside>

        <div class="flex flex-col w-full md:w-1/2">
          <header class="flex flex-1 flex-col">
            <h3 class="text-2xl font-semibold text-purple-600/90 dark:text-purple-300/80 mb-2">
              {title}
            </h3>
            <div class="flex flex-wrap mt-2">
              <div class="mt-2 text-gray-700 dark:text-gray-400">
                <ul class="flex gap-2 flex-row flex-wrap mb-4">
                  {tags.map((tag) => (
                    <li class="flex rounded-full text-[14px] border border-black/80 dark:text-white/90 dark:border-[2px] dark:border-white/20 py-1 px-4">
                      {tag}
                    </li>
                  ))}
                </ul>
                {description}
              </div>
            </div>
          </header>
          
          <footer class="flex gap-x-4 mt-5 md:mt-1 mb-1">
            {link && <LinkButton href={link}>Link</LinkButton>}
            {github && (
              <SocialPill href={github}>
                <GitHub class="size-6" />
                Código
              </SocialPill>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
