---
import GitHub from "../icons/GitHub.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkButton from "./LinkButton.astro";
import SkillPill from "./SkillPill.astro";

import type { SkillName } from "../types/skills";

const PROJECTS: {
  title: string;
  description: string;
  img: string;
  tags: SkillName[];
  link?: string;
  github?: string;
}[] = [
  {
    title: "Sudamericana Rugs",
    description:
      "Sitio web para un emprendimiento. Se integró un formulario de contacto para gestionar consultas de clientes, mejorando la comunicación y las oportunidades de negocio.",
    img: "/proyects/sud.webp",
    tags: ["Vue.js", "CSS", "JavaScript"],
    link: "https://www.sudamericanarugs.com/",
  },
  {
    title: "Sistema de gestión",
    description:
      "Aplicación web para la gestión de pedidos, envíos, clientes y productos de una empresa. Realicé componentes para listar, modificar, crear y eliminar elementos de la base de datos. También la autenticación de los usuarios con JWT y filtrado reactivo en los componentes.",
    img: "/proyects/pl.webp",
    tags: ["Vue.js", "CSS", "JavaScript", "Node.js", "MongoDB"],
  },
  {
    title: "CV Web",
    description:
      "Página web de mi cv imprimible. Hecha con Astro basada en el curso de midudev. Realicé mejoras en el modo impresión pdf y correcciones en el responsive.",
    img: "/proyects/cv.webp",
    github: "https://github.com/joa1907/minimalist-portfolio",
    tags: ["Astro", "CSS", "JavaScript"],
    link: "https://joaquin-cardoso-cv.onrender.com/",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ img, title, tags, description, github, link }) => (
      <article class="flex flex-col space-y-6 group md:flex-row md:space-x-6 md:space-y-0">
        <aside class="w-full md:w-1/2">
          <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8
            transition duration-200 ease-in-out transform shadow-xl overflow-clip rounded-xl
            sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-purple-dark lg:hover:border-blue-dark dark:lg:border-dark-color dark:lg:hover:border-blue-muted"
          >
            <img
              alt={`imagen del proyecto ${title}`}
              class="transition duration-[450ms] md:scale-100 md:group-hover:scale-[1.03]"
              loading="lazy"
              src={img}
            />
          </div>
        </aside>

        <div class="flex flex-col w-full md:w-1/2">
          <header class="flex flex-1 flex-col">
            <h3 class="text-2xl font-semibold mb-2">{title}</h3>
            <div class="flex flex-wrap mt-2">
              <div class="mt-2 text-dark-color dark:text-gray-400">
                <ul class="flex gap-2 flex-row flex-wrap mb-4">
                  {tags.map((tag) => (
                    <li>
                      <SkillPill
                        skillName={tag}
                        extraClasses="px-4 py-[3px] text-sm"
                        iconSize="size-6 stroke-[1.5]"
                      />
                    </li>
                  ))}
                </ul>
                {description}
              </div>
            </div>
          </header>

          <footer class="flex gap-x-4 mt-5 md:mt-1 mb-1">
            {link && <LinkButton href={link}>Link</LinkButton>}
            {github && (
              <SocialPill href={github}>
                <GitHub class="size-6" />
                Código
              </SocialPill>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
